## Import

In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

## Load train.csv

In [2]:
df = pd.read_csv('train.csv')
df.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

## Remove duplicats

In [3]:
def reset_step_for_duplicated_sessions(df):
    """ Reset the step for some bugged session in which the step restart from 1 in some random interaction """
    res_df = df.copy()
    # find the sessions in which the step restarts at some point
    df_dup = df[["session_id", "user_id", "step"]]
    df_dup = df_dup[df_dup["step"] == 1]
    df_dup = df_dup.groupby(['user_id','session_id','step']).size() \
        .sort_values(ascending=False) \
        .reset_index(name='count')
    df_dup = df_dup[df_dup["count"] > 1]
    df_dup = df_dup[['user_id','session_id']]

    # reset the steps for the duplicated-steps sessions
    for _,row in tqdm(df_dup.iterrows()):
        mask = (df.user_id == row.user_id) & (df.session_id == row.session_id)
        sess_length = sum(mask *1)
        res_df.loc[mask, 'step'] = np.arange(1, sess_length+1, dtype='int')

    return res_df

df_without_duplicats = reset_step_for_duplicated_sessions(df)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

### Check duplicats

In [4]:
df_without_duplicats[df.session_id == '15e8515f6d309']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
1686470,C015B3HYIZSF,15e8515f6d309,1541263488,1,clickout item,1008733,BR,"Gramado, Brazil",mobile,NaN,1008733|655716|4342348|502066|1352530|507861|4...,136|115|93|135|92|71|112|108|101|92|127|122|15...
2177386,C015B3HYIZSF,15e8515f6d309,1541345795,2,interaction item image,6452918,BR,"Gramado, Brazil",mobile,NaN,NaN,NaN
2177387,C015B3HYIZSF,15e8515f6d309,1541345795,3,interaction item image,6452918,BR,"Gramado, Brazil",mobile,NaN,NaN,NaN
2177388,C015B3HYIZSF,15e8515f6d309,1541345797,4,clickout item,6452918,BR,"Gramado, Brazil",mobile,NaN,655716|507861|3133206|2258514|1673835|3583050|...,283|156|133|208|196|246|208|222|199|59|160|128...
2177389,C015B3HYIZSF,15e8515f6d309,1541345934,5,clickout item,655716,BR,"Gramado, Brazil",mobile,NaN,655716|507861|3133206|6147882|1673835|2258514|...,127|65|57|49|85|70|58|179|101|120|56|99|89|23|...
2177390,C015B3HYIZSF,15e8515f6d309,1541360791,6,clickout item,655716,BR,"Gramado, Brazil",mobile,NaN,502066|655716|4342348|1352530|3403842|2143854|...,62|69|83|78|61|90|76|65|69|52|113|56|82|101|40...
2177391,C015B3HYIZSF,15e8515f6d309,1541361109,7,clickout item,3403842,BR,"Gramado, Brazil",mobile,NaN,502066|655716|4342348|1352530|3403842|2143854|...,62|69|83|78|61|90|76|65|69|52|113|56|82|101|40...
2177392,C015B3HYIZSF,15e8515f6d309,1541361389,8,clickout item,6147882,BR,"Gramado, Brazil",mobile,NaN,502066|655716|4342348|1352530|3403842|2143854|...,62|69|83|78|61|90|76|65|69|52|113|56|82|101|40...
2177393,C015B3HYIZSF,15e8515f6d309,1541361591,9,clickout item,1405084,BR,"Gramado, Brazil",mobile,NaN,502066|655716|4342348|1352530|3403842|2143854|...,62|69|83|78|61|90|76|65|69|52|113|56|82|101|40...

## Get number of sessions

In [5]:
session_ids = df_without_duplicats.session_id.unique()
num_of_sessions = len(session_ids)
num_of_sessions

910683

## Get index for spliting data

In [6]:
stamp = 0.8
train_sessions_number = int(stamp * num_of_sessions)
train_sessions_number

728546

In [7]:
train_end_session_id = session_ids[train_sessions_number]
train_end_session_id

'cae8906db6f21'

### Get last train session rows

In [8]:
df_without_duplicats[df_without_duplicats.session_id == train_end_session_id]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
12756474,XI4V09UQBBN2,cae8906db6f21,1541491756,1,search for item,2207100,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756475,XI4V09UQBBN2,cae8906db6f21,1541491836,2,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756476,XI4V09UQBBN2,cae8906db6f21,1541491836,3,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756477,XI4V09UQBBN2,cae8906db6f21,1541491846,4,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756478,XI4V09UQBBN2,cae8906db6f21,1541491846,5,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756479,XI4V09UQBBN2,cae8906db6f21,1541491846,6,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756480,XI4V09UQBBN2,cae8906db6f21,1541491846,7,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756481,XI4V09UQBBN2,cae8906db6f21,1541491846,8,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756482,XI4V09UQBBN2,cae8906db6f21,1541491846,9,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756483,XI4V09UQBBN2,cae8906db6f21,1541491846,10,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756484,XI4V09UQBBN2,cae8906db6f21,1541491846,11,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756485,XI4V09UQBBN2,cae8906db6f21,1541491846,12,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756486,XI4V09UQBBN2,cae8906db6f21,1541491846,13,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756487,XI4V09UQBBN2,cae8906db6f21,1541491846,14,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756488,XI4V09UQBBN2,cae8906db6f21,1541491846,15,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756489,XI4V09UQBBN2,cae8906db6f21,1541491846,16,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756490,XI4V09UQBBN2,cae8906db6f21,1541491846,17,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756491,XI4V09UQBBN2,cae8906db6f21,1541491846,18,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756492,XI4V09UQBBN2,cae8906db6f21,1541491846,19,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
12756493,XI4V09UQBBN2,cae8906db6f21,1541491870,20,search for destination,"Fukuoka, Japan",TW,"Fukuoka, Japan",desktop,NaN,NaN,NaN
12756494,XI4V09UQBBN2,cae8906db6f21,1541491879,21,search for destination,"Heping District, Taiwan",TW,"Heping District, Taiwan",desktop,NaN,NaN,NaN
12756495,XI4V09UQBBN2,cae8906db6f21,1541491901,22,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756496,XI4V09UQBBN2,cae8906db6f21,1541491901,23,search for item,2837442,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756497,XI4V09UQBBN2,cae8906db6f21,1541491922,24,change of sort order,interaction sort button,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756498,XI4V09UQBBN2,cae8906db6f21,1541491922,25,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756499,XI4V09UQBBN2,cae8906db6f21,1541491925,26,change of sort order,price only,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756500,XI4V09UQBBN2,cae8906db6f21,1541491925,27,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756501,XI4V09UQBBN2,cae8906db6f21,1541491925,28,filter selection,Sort by Price,TW,"Nantou City, Taiwan",desktop,Sort by Price,NaN,NaN
12756502,XI4V09UQBBN2,cae8906db6f21,1541491953,29,clickout item,3857806,TW,"Nantou City, Taiwan",desktop,Sort by Price,4182178|3861994|5832464|1908423|5740296|671947...,64|65|74|80|82|84|85|85|85|86|87|87|88|91|91|9...

### Get last index for training set

In [9]:
train_last_index = int(df_without_duplicats[df_without_duplicats.session_id == train_end_session_id][-1:].index[0])
train_last_index

12756502

## Split data to train and test

### Create train data frame

In [10]:
df_train = df_without_duplicats[:train_last_index + 1]
df_train.tail()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
12756498,XI4V09UQBBN2,cae8906db6f21,1541491922,25,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756499,XI4V09UQBBN2,cae8906db6f21,1541491925,26,change of sort order,price only,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756500,XI4V09UQBBN2,cae8906db6f21,1541491925,27,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
12756501,XI4V09UQBBN2,cae8906db6f21,1541491925,28,filter selection,Sort by Price,TW,"Nantou City, Taiwan",desktop,Sort by Price,NaN,NaN
12756502,XI4V09UQBBN2,cae8906db6f21,1541491953,29,clickout item,3857806,TW,"Nantou City, Taiwan",desktop,Sort by Price,4182178|3861994|5832464|1908423|5740296|671947...,64|65|74|80|82|84|85|85|85|86|87|87|88|91|91|9...

### Create test data frame

In [11]:
df_test = df_without_duplicats[train_last_index + 1:]
df_test.tail()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
15932987,ZYNMLE3MV3LK,62728015bec05,1541544490,15,interaction item image,6617798,PT,"Paris, France",desktop,NaN,NaN,NaN
15932988,ZYNMLE3MV3LK,62728015bec05,1541544491,16,clickout item,6617798,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
15932989,ZYNMLE3MV3LK,62728015bec05,1541544540,17,clickout item,2712342,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
15932990,ZYNMLE3MV3LK,62728015bec05,1541544967,18,change of sort order,interaction sort button,PT,"Paris, France",desktop,NaN,NaN,NaN
15932991,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,1161323,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

### Create ground truth

In [12]:
ground_truth = df_without_duplicats[train_last_index + 1:]
df_test.tail(1)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
15932991,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,1161323,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

## Set NaN to last clickout foor user - df_test

### Get all session ids from test df

In [13]:
grouped_session = df_test.groupby(['user_id', 'session_id']).agg(
    max_timestamp = ('timestamp', max)
)
grouped_session.reset_index(level=0, inplace=True)

### Get sessions to change last clickout

In [14]:
session_ids_to_change = []
user_ids = grouped_session.user_id.unique()
for user_id in tqdm(user_ids):
    last_session_id = str(grouped_session[grouped_session.user_id == user_id]
                          .sort_values('max_timestamp').head(1).index[0])
    session_ids_to_change.append(last_session_id)
session_ids_to_change

HBox(children=(IntProgress(value=0, max=171981), HTML(value='')))

['d4c5cc7f469d7',
 'ddabdf53a4d38',
 'f9eedbf105c5c',
 'b0c0d9a424374',
 '72b8fed0dfbaa',
 '73ad1e08b4430',
 'a776605c278b0',
 'bd9c40e12933c',
 '42ae8c6fa3dbe',
 'fdee89d524de6',
 'd6f5e96b7cc7a',
 'e6c7b554aecc0',
 '54f8a2c8da7aa',
 '4227b4eb56fbb',
 'eb2b372a622f8',
 '7e5ab77bb58f3',
 'bf44be699e090',
 '567364f571511',
 '54c56648ae40a',
 'ca41b44cc4c71',
 'c1d980f00e68b',
 '1aa18f4d38589',
 'af3b8feb81a98',
 '75682c9a2986c',
 'a52f015ae162b',
 '4bbd2652d9bea',
 '907f5a354f5bd',
 'f4035569d50cd',
 '402fd7dfec659',
 '5736b4003aa39',
 'd94de76870e37',
 '019bc1876ef86',
 'd204cdc464ab7',
 '9e9fe69262ec6',
 'fb64c101d0539',
 '35fbc5f86654f',
 'd6ea7d08a39b6',
 '98e6907df781f',
 'cfd92344175ef',
 '74364758477cb',
 '180ba5497a0b3',
 '6a94c2dd97cbb',
 '2b692ba1c3787',
 'c0cc41fdc0b7c',
 '4fe3cd4d60d16',
 'a02c2031bad92',
 '8425dea64cd76',
 'a32f1912504f5',
 '1fc401eab71e9',
 '44ae89845c7ec',
 '154e87badb386',
 'a7205128ab534',
 'a7fd43ade6fd0',
 'ca28af151382d',
 'fb2dcc343518d',
 'dcd8f558bedf5',
 'e2f4c0b8e0e9e',
 '145fd62982463',
 '51309aef8599a',
 'be97f58e51467',
 '4434185fd1a3a',
 'e64feac12858d',
 '6eab36b64a1a9',
 'af2270c926645',
 '8aa87232c5fe3',
 '4c21492c39b06',
 '8f662208fc031',
 '6e63d982baef1',
 '23abb0e1b58c4',
 'ec1f9d5f1144b',
 'ba25a015963c1',
 '5846febcd5260',
 '8d5e48330010c',
 '80b6f31bb4269',
 '9d01af8dfa879',
 'fbf7f14ad9aa1',
 'aa8f4eae47770',
 '5af4f3561f32f',
 '393ec4a9849b3',
 '2b72f1d6dcacd',
 '1e8eb4c4ed82a',
 '7ef3846d78e37',
 '13c4e504a24a8',
 '91c4f3caf539d',
 '97d742b1abc26',
 'c13560dd30b98',
 'f667575ee2047',
 '939bf2394557a',
 'f0893e055ba8c',
 'e00ac398a0fd0',
 'ca54265bc49e8',
 '6b60d03a2da79',
 'dc54ed5297e46',
 '59d05776115a5',
 'd91548a444fa2',
 '6d4c617597d42',
 '1c98eefb10de2',
 '6f42c0d0135a2',
 '5d2f431a3e381',
 '55358288bbb4f',
 'a0c2e93808188',
 '3cbaa7e3617db',
 'ea1747dd49034',
 '0d2457359517d',
 '132f4a927733f',
 '2a896c3ac5d8f',
 '6767fa7c96390',
 '25704a739dbe2',
 '221cdb7055899',
 'f89171ebf4ad0',
 'a8b0bf0f72b35',
 'c929493fae6b5',
 '471e2f534b34e',
 'a8314f571cd28',
 '372fcf5873c89',
 'eb69901e41a8d',
 'ab422f0e34841',
 '9d543de46792f',
 'b720dfa2ae239',
 '07cee6b705e4e',
 '476224e1f88d3',
 '3f829d6d8dbd9',
 '5b99e085b9c8d',
 'c83e1509adc6a',
 '68c1910734add',
 'b6b80c707b89a',
 '89ec8ea0d16c1',
 '89bee42995c73',
 'f68e8defa87f7',
 '9c62eb5610dfe',
 'c24f3b3fabb96',
 'e5449ad64fec9',
 '24731cd0df40b',
 '014d3c4465c89',
 '0e974f49c90fb',
 '661e5e07cf6a9',
 '61e8d9dc81a58',
 '18fed693c304d',
 '07bed531382ae',
 '711e94bb24786',
 'd72016e0a6544',
 '2a5fcfca3f170',
 'd216a0454f629',
 '76c433168b2f9',
 'db0e99dee7cf3',
 '17d62420aecc7',
 '583a9388afa88',
 'd8999bf246023',
 'f4b3869516d1a',
 '86d38015ebe4b',
 '86fcdbd49bb8d',
 '5e73d2cde39dc',
 '5f119fadc6c09',
 'f45d6132a2229',
 '75d3dd5ecca87',
 '570c0f4a22c5e',
 '579fa7cb2671e',
 '8a4eb2976effb',
 '4d33180ca2ca1',
 'd16a7374dcf55',
 '653429aa2a07b',
 'b1bdd342790ca',
 '24253b1d9b9c9',
 '7d6805c0ecd03',
 'bdf7043c1054f',
 '303ce2de11684',
 '11690bfa93fb7',
 '26ac77fcf2320',
 'f7584d554f685',
 '7c4d04115891c',
 '0368d019ef400',
 'e9a2e0e09128a',
 '3368edbe011c5',
 'd0c7555d86f4f',
 'dfdd4a02231e4',
 '1500e557d6c70',
 'a0ba4fea599bc',
 '53b04404dd4d2',
 'f4a7977e5dcad',
 '6cfc277194a1e',
 'adcb33913ce0d',
 '3084baf6eb628',
 '1204271b2c5c0',
 '0b9cb55254b4b',
 '8125ae54e4967',
 'bde8bb28f70b3',
 '58afe87d6d5ad',
 '54c18117d0050',
 'c22eaaad4f062',
 '5c73de0504467',
 '92453e2cc6487',
 'c593747544ff5',
 '1cf50dfc9b611',
 '7c2afa45e3c82',
 '57a9bc1a6b6a6',
 'ab739bd31f16e',
 '174277416a2bb',
 '219d70e27de41',
 'a46226bfbb875',
 'fcac7ea64a25f',
 'dbf54f186b050',
 '65af3616c07d5',
 '8e122d3027f3d',
 '0ae5f72f31af4',
 '11f787e1cb1e8',
 '0008e401a6605',
 '626a3d5197072',
 'fbddb517d52ac',
 '732e096e139f4',
 '915f4b26a42db',
 '01977b5145d8c',
 'a4d57f406b5e8',
 'd89be4dac85de',
 '15ca7d018a712',
 '11fa8469e9a87',
 '016150a298e6e',
 'e9a0fc02f2544',
 '6c480d4f0dfb0',
 'ca34b0cb6ccc3',
 'd8ee5a6a952d4',
 '6f05b14ce5ff6',
 'e6bb23f3775a6',
 '07b8a6f903aec',
 '2e53d2d34f3f9',
 'bfe7b8263d977',
 '4ad3b6aa83cfa',
 'a140802ae0949',
 'eb2283baea6dc',
 'e79430f75f38c',
 '234b9e02f3bdd',
 '30141969f2d86',
 '7d01bba52c4f1',
 'da00d4c22e6c8',
 '46f9206e8a72f',
 '19e0ec7d3bf78',
 '13108fafd124c',
 '15054f2077f66',
 '81c0b4bfc4bf2',
 'bc41b78ffe266',
 '7e70eea976b40',
 '384d5dab97e50',
 '3828731a3b93e',
 '07ed87953762e',
 '5e7b6a2f80ff9',
 '2b3660585274f',
 '0887164956182',
 '51e90aeaf4182',
 '5620bfd1c7d6c',
 '172f84386da8f',
 '174cebae7e239',
 '89804022f9038',
 'c3f7773ddf9bd',
 '278c255c17506',
 'ba72350df52d1',
 'ffb56dd2e2bbc',
 'f252bd6cf225a',
 '04caf4d4c3721',
 'c7ac12723ea7e',
 '434842e7c1bd7',
 '2b66b7b8c2fc6',
 'caae40e882b5a',
 'b8037df1a401f',
 '5c0be1d4fda4e',
 '92978ad4479dc',
 'c9917451b2153',
 'f65aa19d29e7f',
 '598438b5fb2f0',
 '8f2779ae34e35',
 '6033409f64759',
 'a5a6e2ae67586',
 'aac9a347da9cb',
 '97a5f4a498674',
 '203495ddf0fd1',
 'c6e6c8ce93c1d',
 '0f1e64b4852ee',
 '9ef95c5a1d4df',
 '45a7a930fddd8',
 '7a4c1d9470085',
 '8753d142c3f24',
 '49c551a7c7e3a',
 '6b41f9a7629ee',
 'dd4c8c6f16d37',
 'd1ce11c32ecd4',
 '3ecd0ca006812',
 'da4c4e8bfd9b2',
 'e08076b7f2435',
 'd24947eb34c7f',
 '678ee82e5499c',
 '64c8e1cbfc51a',
 '8ab0d1b2b28ac',
 'd4efb1f59dedf',
 '2ee8fb023226d',
 'aa578ec130a7c',
 '842e164cbad70',
 '2d123642df132',
 '56fe97b463693',
 '7e790b5dae1f2',
 '366ab51b2850a',
 '11d7b3a3873c3',
 '6c638151b7406',
 'dc32d11d4dbdb',
 '3fd77f8e6500b',
 '4c0923aa2e848',
 '587845f2777c7',
 '1c234b7125188',
 'a04d888086f0c',
 'f183456a3918c',
 'c5e2ef0a9f26a',
 '29ca8ec2c466d',
 '1fe558b353940',
 '78e90bca95f59',
 '104e78631c2bd',
 'a6999352d4e51',
 '7bb99904f8540',
 '4a349976d668b',
 '739d3802e90b6',
 '32cee27d3fb32',
 '1796f2d0ff58f',
 '6d1e9e69cf94c',
 '7eba168efba0b',
 '976529ae462e7',
 'ae02e8c3f10f0',
 'a11f08b10c329',
 '26be3ac74e951',
 '4e5816c192fe8',
 'bb8a5fd03b93e',
 'a6c7ab323a098',
 'dcf305a64b23e',
 '5be059acd02fa',
 '63981e23ce782',
 'c142fa2e9d255',
 '5441c48250ce8',
 '3fd9cbd78ebb3',
 '8483c1d5d6497',
 '39dcc737052f2',
 '7310eb3dec73d',
 'c3932ae5e5954',
 '4e85f2d15470c',
 'c79b8ea2eae6b',
 '6ed9804d0b534',
 '2247285736143',
 '8dd6f2d45d3b6',
 'd5fac921a24e3',
 '307363741438c',
 '155fa76780fe8',
 'a1f7b95c7f414',
 '55073772550a9',
 '1449bf2c10d92',
 '041b751125695',
 '35e67c6d12dd9',
 'c88a501870e34',
 '236b2fec8c935',
 '0fb62971d67a7',
 '4c1774dd79666',
 '65df4b7939f07',
 '1cd2bcfdb44e0',
 '51f745215c56a',
 '931828de1a862',
 '4a9543f9ad464',
 '9774174787177',
 '1cc51961f2b0d',
 '88f82420129ce',
 'c9bb47d0a28e5',
 '5a578c64ea7ef',
 '975ff51223411',
 '21f6953c3e3b3',
 'cc06082cee4cd',
 '9811904df292c',
 '99f53af99cb10',
 'e7cd14b32642d',
 '48fa056fd6e1e',
 'af7d1156905a9',
 '613233a03ceba',
 'c1f047d4df72c',
 'c92fec8fe69c5',
 '3ea253ab77e66',
 '67d39fbf06eb3',
 'b475f874dba6f',
 '9699f7ed541c6',
 '27ae94e78bba7',
 '5923977341de7',
 '337be4d636237',
 'bd3e28550d516',
 '1b6dc467fcaa4',
 '97bc24e98a082',
 '3508813a4d597',
 '84a2b32896190',
 'f1bcdc978ac04',
 '7f928512fae4d',
 '095bef5cf61df',
 'c811f844aac18',
 '53ebecb148a4e',
 '827da9cda3980',
 '09d7814bb0598',
 '5f618b1337a66',
 'a1be60663c68e',
 '67987424d5e22',
 'ed3b233143d60',
 '3202045c2495d',
 '66165f4592433',
 '42c5bd590367d',
 '370629b5ca7a0',
 '775ff21b29ffe',
 '628054e5a1a42',
 '75025e0c9ea00',
 '06a98be920105',
 '7fa9a11404409',
 '5e78c4758e737',
 'f21c062e9f45e',
 'f583113be801d',
 '1b22d8373c655',
 '07d58c1700ef6',
 '715280b2be1bc',
 '41cef3410dcfd',
 '700b03c3d5ba4',
 '845503742bf3e',
 'b91a58273695b',
 '5124303780814',
 '0a0030a5a2eaf',
 '835acc13d9a5b',
 'd1a4c9a61a1af',
 '452abbdd1218a',
 '26372c3145a3f',
 '4c1bf4cadeff9',
 'bea79b18d28e8',
 '7731b9d306c2d',
 '0bea1a0996bd0',
 '13ab773e5246a',
 '629e2d0a08e4c',
 '0c411f40764f9',
 '8232e47f6edf2',
 '902fa7f3aa919',
 '4209e13e895cb',
 '2102aecae23db',
 'b4131fc1de037',
 '165037c174252',
 '566603b261feb',
 'e6925624b3c7f',
 'bb5679b346333',
 '308f8698e626c',
 'fb5970b3ee8c7',
 '71a04f3fc4a63',
 '6f8b9c1f38567',
 'd3172cc030625',
 'f544037f622f6',
 '4ff4ad4a8e930',
 'b65c9ca43b134',
 '58b33c8929b56',
 '7db54d1ce7467',
 '7a2b5edf43c89',
 'cb04861539a47',
 '40ef8b00b4b0e',
 '92bbeb5c64849',
 '4fb3e048a99f7',
 '925789b618e63',
 '21dd263d46ce9',
 '4460f125f4ebe',
 'cdd071f332c96',
 '276049fc22863',
 '9684eb4a16a2c',
 '193fdf9963ab2',
 '547c6053af0a9',
 '609271fac5d0b',
 '8028e7e59c754',
 'f71607cd88e46',
 '4b85bdff5f86d',
 'aeb5e861d7be8',
 'f3186c5994595',
 '95e11ea0788ec',
 '73a332fdaac69',
 'b9b70073ac266',
 '37706293daef6',
 'fb71316a46aed',
 '3c8f815a62375',
 '7fd0d8a4e6ca7',
 '1208900a505a7',
 '9fe5b7d2def9f',
 'a6d5cf1d74d17',
 'c4d21ae24ae19',
 '0e7af2834ef1e',
 '16df97fe8deaf',
 '573755af87a53',
 'e695000d608a7',
 '80412ca3b96ed',
 '0f8704540460e',
 'b733eef5397e7',
 '0b454321fbcbe',
 'cffe9b1344938',
 '78ed1ef13301a',
 '3913c1722ada9',
 'ca39aa601dbaf',
 '91cde73dcd849',
 '02a4cf400325a',
 '5f8e08678edd3',
 'badcc38f89fab',
 'd94c823dce697',
 '5019559589e7f',
 'da65f36ba434a',
 'd01eded255daf',
 '53d6b8cd7bc1d',
 'acdc8e7da84e4',
 '28957c9f07a22',
 'a69ada7983b0c',
 '9511bb415a19e',
 '9aa0aa0149256',
 '263208e6e95d7',
 '369a8e634ff39',
 '41d42747f62ac',
 '693e3c346ea6e',
 'a4f0bde060068',
 '6cbabc3dc62d4',
 'a9ba9e969f62b',
 '6d7462c472bb3',
 '86b2cc47e9395',
 'f27a46f570342',
 '5f0f62ebce627',
 'f4e57dd2dbbe5',
 '321801467ef09',
 '92ae654a45d8b',
 'b7d913bd81788',
 '8a09ce9431df6',
 '67f43b7d5c614',
 '8fb8c103d6f1f',
 '7db95fa040ae8',
 '6f07f40fab682',
 '58218847de5d8',
 '051dd769e41bb',
 '941ae22bfdec7',
 'a179ae29b569c',
 '3655ef6cdecaa',
 'd40e4e817f46e',
 '06888307dc1d7',
 '9d006e28f2dda',
 '92fb59e3906d3',
 'ba7d179e604b4',
 '3904c3de2c911',
 '235f37d4a2cd7',
 '2a279f4af5bfa',
 '966c01357068e',
 'ae31f42b3cc46',
 '64e96a116d79a',
 '2abfa9dbbbd4c',
 '46073fc09f0b7',
 'e90c878f3a861',
 'ab68743f5459f',
 '894319b837d3e',
 'f9c3548df8537',
 'ffc861374ed50',
 'e4ac756dac39d',
 '5ed144e34da94',
 '73d0d801d4d1e',
 '2449fc727ffa3',
 '01ad52541d0df',
 'de927261b8eb6',
 '03dea9460c9d3',
 '9c5ed4e89bb27',
 '9827beb1c7cd5',
 'b5542bc3d55c5',
 '7c6d71b0cce0f',
 '76ae2c503b4f1',
 'b1f791f0b05c6',
 '64dfcd480a5e3',
 '741595aea250d',
 '6a7225ec1fc7a',
 'd9562a311b404',
 'eea0ae7f0fd2b',
 '896d5e1cd424b',
 '75a1213cc8f7a',
 'b191fb7b434d0',
 '2bb9081ca8c1f',
 '78fac5a0efc39',
 '9e92016733aee',
 '3250ba9ce11e3',
 'e51c9de963222',
 '08889ec04e745',
 'c1fcf9a8d64c1',
 '6d8b0be2090b3',
 'd0c0f9552aa88',
 'a0b829776413f',
 'f99307309482a',
 '79a6f4fa665af',
 '25c84df1db95e',
 'b35a3ccf3712c',
 '517b62240f92b',
 '0a96bcd6395ff',
 'fdd5230c07831',
 '5a34b3b14f1c8',
 '944fe71fed195',
 '175f28a82c9ca',
 '32e55fde444d4',
 '5a7354787e0b1',
 '3ffb8d4a9cad5',
 '16266807f159a',
 '8d80cbe665037',
 'c69977711ab26',
 '48eb906ca69e0',
 'f6bc9197e89a4',
 '52b7c9505b6a9',
 '70de7094e12ba',
 '9c558ccf9fb9a',
 '4ea0b0c45d726',
 'af0e702223a06',
 'e9861298418ed',
 '63ed52f5f605c',
 '2fca67de59bbb',
 'df513a2f3d816',
 'dacc5e7273b79',
 'a7668fa014b85',
 '7ed949cc9d5aa',
 'bffa32dbe754b',
 '11d2a7d4bab07',
 'ec45ebd5430f4',
 '8fc0fe77d24e5',
 'cad0b20d06a26',
 '3db3d5a33a693',
 '31e6bff2019c5',
 '43b8656efc5fc',
 '619a2f1feb5dc',
 'd1733657cc194',
 '36b6a7e794552',
 'a5d5fd98f6ce2',
 '4b80ace3c0935',
 'c4fae2ce76144',
 '3f496834cf57b',
 'e4900d5c1aaa0',
 '7e9988164b530',
 '7a5abb9739c94',
 'd518241208ad7',
 '43b61bb0d172a',
 'f13655d7c7071',
 '636cd0f9d24cb',
 'cca08bde643d4',
 'f425cb50824e8',
 'cacb623b7aaa8',
 '70d9b01cff811',
 '1a94c484a2894',
 '82d354cb34ba7',
 '73be43a6ed9ac',
 '94aacc27d2e42',
 '9865ec69b02ab',
 'f833316875425',
 'd3c7d78392765',
 '83bb75e749a15',
 'a91ebe5206f88',
 'b6a5ba7208cd6',
 'd3b5e701638cb',
 'de50e8aa00189',
 '7c1974c4f52e3',
 '68dda04f2db47',
 '0b7f7cde246d8',
 'a59209c589d78',
 '5fc560584b1af',
 'e5c66938f0918',
 'a76c840e25c2d',
 '4550ec978ef26',
 '857776127a2b2',
 '3439a80ee7aaa',
 '2294f5bc477a4',
 '0e78a89cf327b',
 'f66e15084d353',
 '41b529d451711',
 'e1e0339137ff4',
 '73a2d677ede0c',
 '58fa4089c1a7d',
 '4a682813bdc51',
 'ad9372d7436eb',
 'b9e4b118ac71c',
 '01b3f24ac3d8c',
 'f45030de57169',
 'fe8c693650a85',
 '271ed8ed6b000',
 '74ef98fa4b8e5',
 'adfef6eb61d1b',
 'aa7ee15f8a0ea',
 'a0eb247a95a83',
 'ad270387fc2c8',
 '9df0d0e83d1cc',
 'fad4c803a8c6c',
 'c85d0e216cc85',
 '9357d9cef2fe9',
 '789d7797f042a',
 'ce8d042ad0a57',
 '0942863f5eac1',
 '84ec6bc988621',
 '91b577332acbb',
 '9302b8a3438c4',
 '38ce8cc7e5aa1',
 '9775b7e4bed1c',
 'b2b976947c6c4',
 '74d2ba9e1ac5d',
 '7faea807908c0',
 'a8a6c0ce3f74d',
 '216453c813a66',
 '3cfa97a152ebc',
 '9dd96a0c5f864',
 'ce3593dd218bc',
 '8fd918a7e5dbd',
 '43c3a25706f42',
 'ede57f66f32e3',
 '9abdf65fb099c',
 '7251ad41d3df8',
 '3b0f7711ab9ae',
 '0a1029485b45d',
 '4846f5dcfff86',
 '6728878ed8f1d',
 'eebf9bfac7899',
 '2dd95ba8dcf4c',
 '14ebc21859f37',
 '483b0d900008a',
 '21073ee801f03',
 '47d69b38a41b7',
 'c33362e7c871c',
 '5a8089f282c49',
 '038ffbb4c9855',
 '1010c7789f184',
 '1d9a2b469b9a8',
 '466af78d3dd38',
 '44bd3bfee9396',
 '78ee3a4e56d8c',
 '4c38a0ad94f0d',
 '3c042c251a47e',
 'c901de6f87a24',
 '4d75982835dc3',
 '563894dead973',
 'cf91f9600bd12',
 'bafeb67a7b067',
 '011bcaa14f201',
 'c41dbed981baf',
 '07b38c4a10add',
 '0087fb29bb140',
 'd930a78fe2fc4',
 'e4cf2728019a8',
 '30970b35dd1e7',
 'bd1ddc1d9925e',
 '2472f2a7283cd',
 'dee893e71b1ad',
 'e6eea70487293',
 '9e1152d059901',
 'b03901e176feb',
 '9f4279f89ca52',
 '255ed1b8c3b8f',
 'e8f73d129d9c4',
 '365f7d3127f85',
 'c7fe6865eae65',
 '625f60febfdfc',
 'd687509a8c6fc',
 '126c5aa759825',
 'b9be85da2b2bf',
 '27bdab7ba1ed2',
 'b6c1483a27d08',
 'dc92b7479ba37',
 '66238da44f4e9',
 'bd9c31dff08db',
 '843744e8602ed',
 '746d761e7b599',
 '41667bb6d0484',
 '57da759b969eb',
 'f5ae0bd7dbd9e',
 'e01727a53ecda',
 'a3fc4c6ef28f1',
 'ac61b15548d7a',
 '343523581da52',
 '8ac059f13f34c',
 '5d737811ce006',
 'c3bf25f0b93d9',
 '2cf138e0ca2c7',
 'aef21eaf3db51',
 'ad82fe213d575',
 'f9abb7a37c4e7',
 '4a0dcabd48077',
 '42de4e600c789',
 '416ee80fabfd1',
 '099cbc5b904ba',
 'b806dfce0c1c0',
 'c0e1264d03898',
 'b5c7a877f09b7',
 'cb9a4bc7539b9',
 'f20a6973b1527',
 'd8197c8ab069e',
 'cf57e9ab704cc',
 'ab7ced1a0327d',
 'b1b67b4068ac5',
 '72c93c54c7801',
 '80773a606e51c',
 '95a3e7d97dfc0',
 '9e081fdce0092',
 '19c6ae555a960',
 'a9dc2b97f3f2b',
 'a78f17eff3baf',
 '12f1247a190a8',
 '24985f809e7e4',
 '7c22994f4c441',
 '69dcc7b73d4ae',
 '0bdc6a772f26d',
 '0992befcacbb0',
 '1b22f3503e020',
 '57bdce8e35fd2',
 '1279c4cab95bd',
 'ad3cd0e15a010',
 '8afa2d69ca21a',
 '44dcb0a59ee87',
 '227e24453f87a',
 '4df96b1274da0',
 '4fd8a93f49576',
 '6d41a7fbb1424',
 '59b906abe035f',
 'aa7278df6f832',
 'ddadbb2cec989',
 '4ca4764f97133',
 '92b313274b40f',
 '1be5f5a11775b',
 '6e259d1f05cd7',
 'c27c12d15c8fd',
 '7f4b9bb06f88f',
 '6cdee16a7e70b',
 'c2151659a7fa4',
 'a4d7fd3c07040',
 '4ac5542dd2ae8',
 '23db8661f5c91',
 '437a314abfad5',
 'e26122f09bc83',
 'c4552416d94b4',
 '31a6dfff75c9a',
 'cb70893a3b38e',
 '31f28398a4369',
 'd492609deb4b9',
 '1cecdc6a28c3a',
 '9e15088e2de79',
 '2ee198d7e41f7',
 'af46b30734951',
 '643904f0be914',
 '7d62512627d25',
 '7e554d88d8b02',
 '8d4c28251cda4',
 'ed93b24bb8459',
 '458c741df6cb2',
 'c4b6f640e8dd1',
 '4395d6b6075b7',
 'decf270f625a5',
 '2389acb4a4e1e',
 '065c9d57f74bb',
 '0106ab4ec2fa7',
 'ce3d056566fa7',
 '20eca8fd8e948',
 '352b1bffd771b',
 '51b002f4e44ea',
 'a8253e8ebc2f0',
 'cdc4cdc304a06',
 '69925b43bd95e',
 '7af503fbfa24c',
 '68b48d682f07f',
 '309a4a3db7458',
 'b3b0d114f8dff',
 'af3af0b1e45c3',
 '50ef3bf48aa8b',
 'd47ecdc084847',
 '3d7dafdb482d7',
 '154c8ced279c4',
 '847b6b827eb89',
 '65723d57a8c1e',
 '9a1a3eb3d8ecc',
 'f095d0fcca93c',
 '4c97c8176b0cc',
 '577c3e04967f8',
 '8199808be5fe4',
 '6b9ca4fd8d248',
 'f19b6e8b1c0f1',
 'b5ffb021e57ff',
 'be00d675b20b1',
 '416ff264b412c',
 '51b10d18ae81c',
 '5bee84d5abfae',
 '463900e53cfe9',
 'bb16e9033f8a9',
 'b6cbd69f77274',
 'b2413044e111a',
 'a29d597a43334',
 '3387bc21e21d1',
 'e9d8546fec955',
 '549776c702a2d',
 '1e79d03ab4109',
 'df7b16864f2da',
 '003ca954b9320',
 '36a02b7ad7e76',
 '45691bee3ea6f',
 '6355d8f0e1f14',
 '15ffe41817349',
 '3368445e0a8fc',
 '46da2108d214a',
 '6f0bf0e9e5991',
 '4e5c1fa22cc54',
 '2e1f0edc66f11',
 'c488730bb154a',
 'ea440e01e0acb',
 '06d8bacff8700',
 '384da6948c1b5',
 'ed06e12bc4f41',
 '644c683824667',
 '5c7fc1fc4d393',
 'b3b873fd17a55',
 '626f40ae55f3c',
 'b26e2ab64ed89',
 '8d7a5ef8f6423',
 'afcfbba181987',
 '804382f984cc4',
 '51ada7d5b6e6b',
 '7f61a48fbb2df',
 '99b65b9c6a3a3',
 '92d6b38401cf2',
 '79919316e1c17',
 '2bfb907e8e9a2',
 '371a59285d48a',
 '90f243b359237',
 '2ce4e28165f79',
 '1ee99b1c6a20f',
 'c52d36518435c',
 'e2f450ae0ebfe',
 '7bf837336881b',
 'ecd49a7ab3bc2',
 'ce11d09ae15df',
 '55d49bbcda803',
 'bd59609b83f85',
 'b7f98df0278dd',
 '3906c5de95b26',
 '3ca700479f0b3',
 '0c60ed7f1a059',
 '714b8b8a059ea',
 '7b0e6832a9e55',
 '4b81f7309200c',
 '85203873ca1d5',
 '5d72e81846b0d',
 '8a01bdea3d322',
 'd0b5fb8afdb16',
 '5ba202afd09f3',
 '69f595d3447b1',
 'd701490ffa874',
 '4ef82dc3d239e',
 '2dc060afc6092',
 '94be2c99126d1',
 '1d780915c4d64',
 '85192a26e3771',
 'b453c7c4db50a',
 'b156e4621bd51',
 '9d9fde1dd6f51',
 '4a195caea3ccf',
 '78d52eab2acec',
 '89fd5ddf08cdf',
 '142841ba30f68',
 '948e65bd5e623',
 '3235d3165e9be',
 '59a68b7d5dd1f',
 '941c504e9047a',
 '46ccbf8065c4a',
 'daf43988a98c7',
 '9f763dc51f13f',
 'c2e9f007296e7',
 'c5e4a0e2f6a56',
 '0249fd0dd52ae',
 '22b01dda5d666',
 '31dbc7e456ced',
 '50a9bd1a81935',
 '3882a8ac8f19b',
 'e04dc17cc4993',
 '869af1400f9bd',
 'ce15f690b43f0',
 '1b0942fa081b3',
 'b56ce8bde62d3',
 'c2f77a39b6aeb',
 '0211b7cbfe9d1',
 'f4f4a7220910e',
 '3837ea634cfc3',
 '127170384956c',
 '4fb092f182744',
 '7d82affadae3a',
 'e9ab77f91f39a',
 '101b6734d93de',
 'a99cd63498515',
 '59762910c1056',
 '69b207ee288de',
 'b9e3603f9d605',
 'de29af2ab4a05',
 'd3e2bb2eaa1b8',
 'f85cdb1c79fce',
 '9c0e6229f2998',
 '8d217a4bd8710',
 '01d0d523e9746',
 '6ffccb636e24c',
 '34fd28500510c',
 'ab3ffe67e0c19',
 'ff27adc23f6cb',
 '56a60749fe307',
 '5e3530d848493',
 'fec1eac38e866',
 '2732d4353e48a',
 '214ae6445008f',
 '30d2016cbc348',
 'ecf9a143c703f',
 '5da39b915cfe4',
 '913efcd7f38d7',
 '8035965bf9d18',
 ...]

### Set last clickout reference in user's last session to NaN

In [15]:
df_test.loc[(df_test.session_id.isin(session_ids_to_change)) & (df_test.action_type == 'clickout item'), 'reference'] = np.nan

/home/mscib/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

### Test replacing

In [16]:
df_test[df_test.session_id == 'ff27adc23f6cb']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
13274122,057C9BJOBPK3,ff27adc23f6cb,1541284125,1,search for destination,"Santa Ponsa, Spain",UK,"Santa Ponsa, Spain",desktop,NaN,NaN,NaN
13274123,057C9BJOBPK3,ff27adc23f6cb,1541284178,2,interaction item image,127534,UK,"Santa Ponsa, Spain",desktop,NaN,NaN,NaN
13274124,057C9BJOBPK3,ff27adc23f6cb,1541284178,3,interaction item image,127534,UK,"Santa Ponsa, Spain",desktop,NaN,NaN,NaN
13274125,057C9BJOBPK3,ff27adc23f6cb,1541284203,4,interaction item deals,127534,UK,"Santa Ponsa, Spain",desktop,NaN,NaN,NaN
13274126,057C9BJOBPK3,ff27adc23f6cb,1541284225,5,clickout item,NaN,UK,"Santa Ponsa, Spain",desktop,NaN,128111|37323|127534|37328|7447|37321|127372|74...,113|86|53|159|170|107|102|73|98|94|46|48|87|56...
13274127,057C9BJOBPK3,ff27adc23f6cb,1541286128,6,interaction item deals,37324,UK,"Santa Ponsa, Spain",desktop,NaN,NaN,NaN
13274128,057C9BJOBPK3,ff27adc23f6cb,1541286139,7,interaction item deals,37324,UK,"Santa Ponsa, Spain",desktop,NaN,NaN,NaN

## Set NaN to 0

In [17]:
df_test = df_test.fillna(0)
df_train = df_train.fillna(0)
ground_truth = ground_truth.fillna(0)

## Save test data set

In [18]:
df_test.to_csv('my_test.csv')
df_train.to_csv('my_train.csv')
ground_truth.to_csv('groundTruth.csv')